body{
    text-align: center;
}

/* EJERCICIO 1 */
/* *********** */
.contenedor{
    /* Le doy altura y ancho fijo */
    width: 750px;  
    /* Color de fondo blanco */
    background-color: white;
    /* El contenedor toma la altura de los items */
    display: flex;
    /* Alineo los items a la derecha */
    align-items: flex-end;
    /* No permito el desborde del contenedor */
    flex-wrap: nowrap;
    /* Direccion del eje principal */
    flex-direction: column;
    /* Otras caracteristicas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;  
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 8px;
}

/* EJERCICIO 2 */
/* *********** */
.contenedor2{
    /* alto del contenedor */
    height: 600px; 
    background-color: white;
    /*el contenedor toma el ancho de las cajas*/
    display: inline-flex;
    /* Alineacion del eje vertical */
    align-items: center;
    /* No permito el desborde del contenedor */
    flex-wrap: nowrap;
    /* Muestro los items en reversa */
    flex-direction:row-reverse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 8px;
}

/* EJERCICIO 3 */
/* *********** */
.contenedor3{
    /*Le doy un ancho del 100% para que se adapte a la pantalla*/
    width: 100%;
    /*Un ancho minimo para que se siga viendo el ejemplo y no se me
    desarme todo cuando achico la ventana*/
    min-width: 900px;
    background-color: white;   
    display: flex;
    /* Alineacion del eje horizontal */
    justify-content: space-between;
    flex-direction:row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 8px;
}

/* Estilos de las cajas */
.caja1{
width: 200px;
height: 200px;
background-color: rgb(255, 0, 0);
padding: 5px;
box-sizing: border-box;
color: white;
/*Para que el numero de la caja quede en el medio*/
display: flex;
justify-content: center;
align-items: center;
}

.caja2{
width: 200px;
height: 200px;
background-color: rgb(0, 35, 148);
padding: 5px;
box-sizing: border-box;
color: white;
/*Para que el numero de la caja quede en el medio*/
display: flex;
justify-content: center;
align-items: center;
}

.caja3{
width: 200px;
height: 200px;
background-color: rgb(3, 150, 11);
padding: 5px;
box-sizing: border-box;
color: white;
/*Para que el numero de la caja quede en el medio*/
display: flex;
justify-content: center;
align-items: center;
}

/*Barra de navegacion*/
/*********************/
nav a{
color: white;
background-color: blue;
padding: 1px;
border: solid black 2px;
border-radius: 5px;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
box-sizing: border-box;
margin: 0 auto;
margin-bottom: 45px;
/* Sombra de los botones */
box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
}

a:hover{
    background-color: rgb(7, 7, 7);
}
