body{
    *text-align: center;
}
.contenedor{
    width: 100%;
    height: 750px;
    background-color: coral;
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    
}

.caja1{
width: 250px;
height: 250px;
background-color: rgb(255, 0, 0);
padding: 5px;
box-sizing: border-box;
border-top: 5px solid #000000;
border-right: 5px solid #000000;
border-bottom: hidden;
border-left: 5px solid #000000;
color: white;
}

h2{
    color: rgb(247, 239, 239);
    text-align: center;
}

.caja2{
width: 250px;
height: 250px;
background-color: rgb(0, 35, 148);
padding: 5px;
box-sizing: border-box;
border: 4px black solid;
border-top: 5px solid #000000;
border-right: 5px solid #000000;
border-bottom: hidden;
border-left: 5px solid #000000;
color: white;
}

.caja3{
width: 250px;
height: 250px;
background-color: rgb(3, 150, 11);
padding: 5px;
box-sizing: border-box;
border-top: 5px solid #000000;
border-right: 5px solid #000000;
border-bottom: 5px solid #000000;
border-left: 5px solid #000000;
color: white;

}
