body{
    /* Alineo el contenedor al centro */
    text-align: center;
}

/* EJERCICIO 1 */
/* *********** */
.contenedor{
    /* Le doy altura y ancho fijo */
    width: 750px;  
    /* Color de fondo blanco */
    background-color: white;
    /* El contenedor toma la altura de los items */
    display: inline-flex;
    /* Alineo los items a la derecha */
    align-items: flex-end;
    /* No permito el desborde del contenedor */
    flex-wrap: nowrap;
    /* Direccion del eje principal */
    flex-direction: column;
    /* Otras caracteristicas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;  
}

/* EJERCICIO 2 */
/* *********** */
.contenedor2{
    /* Ancho y alto del contenedor */
    width: 750px;
    height: 750px;
    background-color: white;
    display: inline-flex;
    /* Alineacion del eje horizontal */
    justify-content: center;
    /* Alineacion del eje vertical */
    align-items: center;
    flex-wrap: nowrap;
    /* Muestro los items en reversa */
    flex-direction:row-reverse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;
}

/* EJERCICIO 3 */
/* *********** */
.contenedor3{
    /* En este caso le doy un ancho de porcentaje para que se aprecie mejor */
    width: 100%;
    /* Le doy el alto justo del tamao de un Item */
    height: 250px;
    background-color: white;
    display: inline-flex;
    /* Alineacion del eje horizontal */
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction:row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;
}

/* Estilos de las cajas */
.caja1{
width: 250px;
height: 250px;
background-color: rgb(255, 0, 0);
padding: 5px;
box-sizing: border-box;
color: white;
}

.caja2{
width: 250px;
height: 250px;
background-color: rgb(0, 35, 148);
padding: 5px;
box-sizing: border-box;
color: white;
}

.caja3{
width: 250px;
height: 250px;
background-color: rgb(3, 150, 11);
padding: 5px;
box-sizing: border-box;
color: white;
}
