body{
    text-align: center;
}
.contenedor{
    width: 750px;
    height: 750px;
    background-color: white;
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;
    
}

.contenedor2{
     width: 750px;
    height: 750px;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction:row-reverse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;
}

.contenedor3{
    width: 100%;
    height: 250px;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap;
    flex-direction:row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: black 5px solid;
}

.caja1{
width: 250px;
height: 250px;
background-color: rgb(255, 0, 0);
padding: 5px;
box-sizing: border-box;

color: white;
}

h2{
    color: rgb(247, 239, 239);
    text-align: center;
}

.caja2{
width: 250px;
height: 250px;
background-color: rgb(0, 35, 148);
padding: 5px;
box-sizing: border-box;

color: white;
}

.caja3{
width: 250px;
height: 250px;
background-color: rgb(3, 150, 11);
padding: 5px;
box-sizing: border-box;

color: white;

}
